<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userDao" class="com.imooc.spring.ioc.dao.UserDao"  scope="prototype"/>
    <bean id="userService" class="com.imooc.spring.ioc.service.UserService" scope="prototype">
        <property name="userDao" ref="userDao"/>
    </bean>
<!--    <bean id="order1" class="com.imooc.spring.ioc.entity.Order" init-method="init" destroy-method="destroy">-->
<!--        <property name="price" value="19.8"/>-->
<!--        <property name="quantity" value="1000"/>-->
<!--    </bean>-->
</beans>